.vertical {
    margin-top: 30px;
    -webkit-writing-mode: vertical-rl; 
    writing-mode: tb-rl;
}
.vertical h2 {
    font-size: 5em;
    margin: 0px;
    padding: 0px;
}
.vertical p {
    font-size: 3em;
    margin: 0px;
    padding: 0px;
}
.post-meta {
    margin-top: 15px;
    margin-bottom: 18px;
}
